// PASTE CUSTOM STYLING HERE
body {font-family: "Oswald", sans-serif;}
.header{
    background-color: #000000;
    @include responsive ("small") {
        height: 82px !important;
        color: #000000;
        .logo-user-section.container.fixed {
            background-color: #000000 !important;
        }
        .logo-user-section.container.fixed.fixed-again .user-icons svg {
            fill: #ffffff !important;
            color: #ffffff !important;
        }
        .mobileMenu-toggleIcon::after {
            background: #ffffff !important;
        }
        .mega-cat-dropdown {
            top: 35px;
            width: 100%;
            background-color: #000000;
            right: -320px !important
        }
        .mega-cat-dropdown li.navPages-item a.navPages-action {
            color: #ffffff !important;
            font-weight: 400;
        }
        .mega-cat-dropdown h2 {
            color: #ffffff;
        }
        #menu .navPages ul, .navPage-subMenu, .navPages-item {
            background-color: #000000;
        }
        .mega-cat-dropdown .sticky-navpages svg {
            fill: #ffffff !important;
        }
    }
    .topbar{
        background: #48A9C5;
        padding: 5px 0;
        p{
            font-family: "Oswald", sans-serif;
            font-size: 14px;
            font-weight: 500;
            margin: 0 auto;
            text-align: center;
            color: #fff;
            line-height: 22px !important;
            @include responsive ("small") {
                font-size: 10px;
            }
        }
    }
    .header-logo {max-width: 250px;}
    .header-logo-image-container:after{
        display: none;
    }
    .header-logo-image{
        max-width: 200px;
        margin: 0 auto;
        position: relative;
        
    }
    .navUser-action {
        svg{
            stroke: #fff;
            fill: #fff;
        }
    }
    .navUser {
        @include responsive ("small") {
            .navUser-action, .navUser-item--account { 
                display: none;
            }
            svg, li.navUser-item.quicksearch.mobile svg {
                fill: #ffffff !important;
                width: 18px !important;
                height: 18px !important;
            }
        }
        .search-icon {
            width: 33px;
            svg{
                stroke: #fff;
                fill: #fff;
                z-index: 999999;
                left: -6px;
            }
        }
        .dropdown--quickSearch.desktop {
            max-width: 420px;
            position: absolute;
        }
        .dropdown--quickSearch .form-input {
            width: 420px;
            height: 40px;
            border: 1px solid #D4D4D4;
            border-radius: 5px;
            padding: 0 0 0 15px !important;
        }
        .search-icon.submit input {
            padding: 5px !important;
            background: #48A9C5 !important;
            width: 33px !important;
            height: 33px !important;
            border-radius: 5px;
            left: -6px;
        }

        .customer_support {
            color: #ffffff !important;
            margin-right: 50px;
            @include responsive ("small") {
                display: none;
            }
            ul {
                margin-top: 12px;
            }
            ul li {
                display: inline-block;
                vertical-align: middle;
                margin-left: 4px;
            }
            .heading {
                font-size: 12px;
            }
            .subheading {
                font-size: 10px;
            }
            .status {
                background: #5E9B41;
                height: 6px;
                width: 6px;
                float: left;
                border-radius: 50%;
                margin-top: 6px;
                margin-right: 5px;
            }
            .support_detail {
                .support_arrow {
                    margin-left: 8px;
                }
            }
        }
    }

    #menu-wrapper {
        .navPages-list {
            float: left;
            .navPages-action {
                padding: 1rem 1.6rem 1.14286rem;
            }
        }
        .nav-right {
            width: 80%;
        }
        .navPages-action {
            font-size: 14px;
            font-weight: 400;
            color: #000000;
            .burger-menu {
                font-size: 16px;
                font-weight: 400;
            }
        }
        .burger-menu-arrow {
            margin-top: 8px;
            margin-left: 5px;
        }
        .navPages-list li .pipe {
            border-left: 2px solid #E0E0DF;
        }
    }
    .fixed {
        .customer_support {
            display: none;
        }   
    }
}
