/*
* Variables for breakpoints
*/
$mobile: 480px;
$mobile-landscape: 568px;
$tablet: 768px;
$desktop: 991px;

/*
* Map for breakpoints
*/
$breakpoints: (
  "mobile": (
    max-width: $mobile,
  ),
  "small": (
    max-width: $mobile-landscape,
  ),
  "medium": (
    max-width: $tablet,
  ),
  "large": (
    max-width: $desktop,
  ),
); 

@mixin responsive($size) {
    $query: map-get($breakpoints, $size);
  
      @media #{$query} {
        @content;
    }
  }

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "header";
@import "productCard";
@import "categoryPage";
@import "productDetail";
#consent-manager {
    .css-10z1g2q {
        background-color: #000;
        box-shadow: 0px 0px 1px 1px #808080;
    }
}

.footer{
    background-color: #000;
    padding-top: 0 !important;
    .footer-store-details{
        width: 1240px;
        padding: 40px 0;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #2f2f2b;
        margin-bottom: 60px;
        display: flex;
        @include responsive ("small") { 
            display: block;
            width: 100%;
            margin-bottom: 20px;
            padding-bottom: 28px;
        }
        .store-col-3 {
            width: 33.33%;
            display: flex;
            align-items: center;
            gap: 16px;
            &:nth-child(2n){
                justify-content: center;
            }
            @include responsive ("small") { 
                width: 100%;
                display: block;
                margin-bottom: 15px;
            }
            svg {
                float: left;
                margin-right: 10px;
            }
            .block-content{
                span{
                    color: #959595;
                    font-family: "Be Vietnam Pro";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: -0.42px;
                }
                p{
                    font-family: "Be Vietnam Pro";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 21px */
                    letter-spacing: -0.42px;
                    color: #fff;
                    margin: 0 auto;
                }
            }
        }
    }
    article {
        padding: 0;
    }
    .footer-info-col{
        margin-bottom: 0;
        &.footer-info-col--small-5{
            width: 20%;
        }
        @include responsive ("small") { 
            width: 100% !important;
        }
        h5.footer-info-heading{
            color: #48A9C5;
            font-family: "Oswald", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            @include responsive ("small") { 
                border-bottom: 0.5px solid #2f2f2b;
                padding: 10px;
                margin: 0;
            }
        }
        .arrow {
            border: solid #ffffff;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            float: right;
            margin-top: 8px;
        }
        .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
        .left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }
        .up {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }
        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
        @include responsive ("small") { 
            ul {
                text-align: left;
                padding: 0 10px;
                margin-top: 15px;
            }
            .visible {
                display: block !important;
            }       
        }
        .footer-info-list,.pbw-custom-menu{
            li{
                padding: 0;
                margin: 0;
                &:hover{
                    background-color: transparent;
                }
                a{
                    font-family: "Be Vietnam Pro", sans-serif;
                    text-transform: none;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    text-align: left;
                    color: #FFFFFF;
                    display: block;
                }
            }
            
        }
    }
    .footer-bottom{
        background-color: #000;
        padding:25px 0;
        .footer-copyright{
            .powered-by{
                color: #808080;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            .socialLinks{
                display: flex;
                gap: 15px;
                justify-content: center;
                align-items: center;
                padding: 45px 0;
                @include responsive ("small") { 
                    padding: 10px 0;
                }
                .socialLinks-item{
                    padding: 0;
                    .icon{
                        padding: 0;
                        height: 36px;
                        width: 36px;
                        svg{
                            fill:transparent;
                        }
                    }
                }
            }
        }
    }
}

#consent-manager-update-banner{
    display: none;
}
.main{
    .newsletter-subscription-section{
        border-top: none;
        background-color: transparent;
        background-image: url(https://cdn11.bigcommerce.com/s-c8rvhjr1gt/images/stencil/original/image-manager/contact.png);
        border-radius: 5px;
        padding: 40px 42px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 50px !important;
        @include responsive ("small") { 
            text-align: center;
            padding: 10px 0 0 0;
        }
        .newsletter-subheading{
            font-size: 12px;
            color: #fff;
            font-weight: 400;
            margin-bottom: 5px;
            @include responsive ("small") { 
                font-size: 10px;
            }
        }
        .newsletter-heading{
            font-size: 32px;
            color: #fff;
            font-weight: 400;
            @include responsive ("small") { 
                font-size: 20px;
            }
        }
        .form{
            background-color: #fff;
            position: relative;
            border-radius: 4px;
            padding: 10px;
            @include responsive ("small") { 
                padding: 0;
            }

            .button{
                position: absolute;
                right: 10px;
                border-radius: 5px;
                @include responsive ("small") { 
                    width: auto;
                    height: 32px;
                    margin-top: 5px;
                    font-size: 10px;
                    text-transform: uppercase;
                    padding-top: 8px
                }
            }
            .form-input{
                border: none;
                font-size: 14px;
                color: #757575;
                font-family: "Be Vietnam Pro";
                border-radius: 4px;
            }
        }
    }
}

.featured-banners{
    margin-bottom: 50px !important;
    .f-banners{
        display: flex;
        gap: 0 20px;
        @include responsive ("small") { 
            display: block;
        }
        .f-banner{
            position: relative;
            @include responsive ("small") { 
                margin-top: 20px;
            }
            .banner-content{
                position: absolute;
                top: 50%;
                left: 30px;
                width: 70%;
                transform: translateY(-50%);
                .sub-heading{
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 17.78px;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    text-align: left;
                    color: #FFF;
                    margin: 0 0 5px 0;
                    @include responsive ("small") { 
                        font-size: 8px;
                    }
                }
                .heading{
                    color: #FFF;
                    text-shadow: 0px 0px 5px #000;
                    font-family: Oswald;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 35px; /* 109.375% */
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin: 0 auto;
                    @include responsive ("small") { 
                        font-size: 20px;
                        line-height: 25px;
                    }
                }
                a{
                    color: #FFF;
                    font-family: Oswald;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%; /* 21px */
                    text-decoration-line: underline;
                    text-transform: uppercase;
                    margin-top: 10px;
                }
            }
        }
    }
}
.logo-user-section.container{
    z-index: unset !important;
}
.tailored-parts {
    width: 100%;
    position: relative;
    margin-bottom: 50px !important;
    background-size: cover;
    height: 486px;
    img {
        width: 100%;
    }
    .parts-content {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        @include responsive ("small") { 
            .container {
                padding: 0 10px;
            }
        }
        .sub-heading{
            color: #FFF;
            font-family: Oswald;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            display: block;
            text-align: center;
            @include responsive ("small") { 
                font-size: 10px !important;
            }
        }
        .parts-heading{
            color: #FFF;
            text-align: center;
            font-family: Oswald;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 95%; /* 45.6px */
            letter-spacing: -0.48px;
            text-transform: uppercase;
            margin: 5px auto 10px auto;
            max-width: 70%;
            display: block;
            @include responsive ("small") { 
                font-size: 24px !important;
                max-width: 100%;
                line-height: 30px;
            }
        }
        .parts-description{
            color: #FFF;
            text-align: center;
            font-family: "Be Vietnam Pro";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
            margin: 0 auto;
            max-width: 80%;
            @include responsive ("small") { 
                font-size: 12px !important;
            }
        }
        .icon-lists {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 70%;
            margin: 25px auto 0;
            @include responsive ("small") { 
                max-width: 100%;
            }
            .icons-parts {
                display: flex;
                align-items: center;
                gap: 0 10px;
                @include responsive ("small") { 
                    align-items: unset;
                    width: 125px;
                }
                svg {
                    width: 21px;
                }
                .sub-content{
                    h5{
                        color: #FFF;
                        font-family: Oswald;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px;
                        text-transform: uppercase;
                        margin: 3px auto;
                        @include responsive ("small") { 
                            font-size: 9px;
                            baseline-shift: 0;
                        }
                    }
                    span{
                        color: #FFF;
                        font-family: Oswald;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;
                        @include responsive ("small") { 
                            font-size: 8px;
                            baseline-shift: 0;
                            float: left;
                        }
                    }
                }
            }
        }
    }
}
.shop-br-brands{
    margin-bottom: 50px !important;
    @include responsive ("small") { 
        margin-bottom: 0px !important;
        margin-top: 50px !important;
        .productCarousel .slick-next::before {
            right: 7px;
            top: 0;
        }
    }
    .slick-next {
        top: 51px !important;
        @include responsive ("small") { 
            top: 44px !important;
        }

    }
    .slick-prev {
        top: 51px !important;
        @include responsive ("small") { 
            top: 44px !important;
        }
    }
    .brands-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        .section-title{
            color: #000;
            font-family: Oswald;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 95%; /* 22.8px */
            letter-spacing: -0.24px;
            text-transform: uppercase;
            display: inline-flex;
            padding: 9px 0 8px 15px;
            align-items: center;
            border-left: 5px solid #48A9C5;
            margin: 0 ;
        }
        .shop-all{
            color: #48A9C5;
            font-family: Oswald;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 21px */
            text-decoration-line: underline;
            text-transform: uppercase;
        }
        
    }
    .slick-track {
        .list-brand {
            padding: 0 24px 0 0;
            position: relative;
            &:after {
                content: '';
                width: 2px;
                height: 100%;
                background: #ECECED;
                position: absolute;
                left: -12px;
                top: 0;
                border-radius: 12.8px;
            }
        }
    }
}
.header #menu-wrapper.fixed,header #menu-wrapper #menu.fixed{
    border-top: 2px solid #48a9c5 !important;
}
.breadcrumbs {
    margin: 20px 0;
    color: #757575;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.12px;
    text-transform: none !important;
}
.body{
    @include responsive ("small") { 
        margin-top: 60px !important;
    }
    .page-heading{
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 95%; /* 38px */
        letter-spacing: -0.4px;
        text-transform: uppercase;
        margin: 20px 0;
    }
    .text-center{
        text-align: center;
    }
    .form-label{
        small{

        }
    }
}
.login-form{
    .form-actions{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.form-row{
    .form-label{
        small{
            color: #e74c3c;
        }
    }
}
.cart{
    .cart-list{
        .cart-item{
            .cart-item-figure{
                .cart-item-image{
                    max-width: 80%;
                    max-height: 80%;
                }
            }
        }
    }
}
.previewCart{
    .previewCartAction-checkout{
        padding-left: 0;
    }
    .previewCartItem-brand, .previewCartItem-price{
        color: #000;
    }
}

.account-body{
    .account-content{
        .account-orderStatus-label{
            background-color: #000;
            font-family: "Be Vietnam Pro";
        }
        .account-product-detail{
            span{
                font-family: "Be Vietnam Pro";
                color: #000;
            }
        }
        .account-product-detail-heading,.account-product-description{
            font-family: "Be Vietnam Pro";
            color: #000;
        }
        .account-product-title a{
            font-size: 18px;
            &:hover,&:focus{
                color: #000;
            }
        }
        .pagination-list--small .pagination-item{
            color: #000;
            border: none;
        }
        .account-product-figure:after{
            display: none;
        }
        .account-orderTotal{
            dt{
                font-family: "Be Vietnam Pro";
                color: #000;
            }
        }
        .account-listShipping-title{
            font-family: "Be Vietnam Pro";
            color: #000;
            font-weight: 500;
        }
        
    }
    .account-sidebar{
        .account-sidebar-block button,input.button{
            font-family: "Be Vietnam Pro";
        }
        .definitionList-key{
            color: #2f2f2b;
        }
    }
}
.navBar--sub {
    .navBar-item {
        .navBar-action{
            color: #000;
            font-size: 1.2rem;
        }
        &.is-active{
            border-bottom: 1px solid #48A9C5;
            font-size: 1.2rem;
            color: #48A9C5;
            .navBar-action{
                color: #48A9C5;
            }
        }
    }

}
.breadcrumbs{
    .breadcrumb {
        font-family: "Be Vietnam Pro";
        a{
            color: #000;
        }
        &.is-active{
            span{
                color: #48A9C5;
            }
        }
    }
}

.excellence{
    position: relative;
    margin-bottom: 70px;
    .excellence-main-image{
        width: 100%;
        max-height: 650px;
        object-fit: cover;
        @media (max-width: 668px)  {
            max-height: 950px;
        }
        @media (max-width: 480px)  {
            max-height: none;
            height: 1000px;
        }
        &.mobile-image{
            display: none;
            @media (max-width: 800px)  {
                display: block;
            }
        }
        &.desktop-image{
            @media (max-width: 800px)  {
                display: none;
            }
        }
    }
    .excellence-content {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        @media (max-width: 668px)  {
            flex-wrap: wrap;
            gap: 40px;
        }
        .excellence-right {
            position: absolute;
            right: 50px;
            top: -60px;
            @media (max-width: 1024px)  {
                position: relative;
                top: 0;
                right: 0;
            }
        }
        .excellence-left {
            width: 70%;
            @media (max-width: 1024px)  {
                width: 80%;
            }
            h5.subtitle {
                color: #FFF;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                margin: 0 auto;
                padding-bottom: 5px;
                @media (max-width: 668px)  {
                    font-size: 10px;
                }
            }
            
            h2.excellence-title {
                color: #FFF;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 95%; /* 45.6px */
                letter-spacing: -0.48px;
                text-transform: uppercase;
                margin: 0 auto;
                padding-bottom: 10px;
                @media (max-width: 1024px)  {
                    font-size: 36px;
                }
                @media (max-width: 668px)  {
                    font-size: 24px;
                    line-height: 120%;
                }
            }
            p.excellence-text {
                color: #FFF;
                font-family: "Be Vietnam Pro";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
                margin: 0 auto;
                padding: 0;
                @media (max-width: 668px)  {
                    font-size: 12px;
                }
                
            }
            ul.excellence-list {
                display: flex;
                flex-wrap: wrap;
                margin-top: 25px;
                list-style: none;
                gap: 15px;
                margin-left: 26px;
                li {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    h4 {
                        width: 100%;
                        margin: 0 auto;
                        color: #FFF;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: 0.5px;
                        text-transform: uppercase;
                        position: relative;
                        @media (max-width: 668px)  {
                            font-size: 12px;
                        }
                        svg{
                            position: absolute;
                            left: -25px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    span {
                        color: #FFF;
                        font-family: "Be Vietnam Pro";
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px; /* 150% */
                        @media (max-width: 668px)  {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
.categoryGrid li {
    border-bottom: 4px solid transparent;
}
@media screen and (max-width: 480px) {
    h2.page-heading.showcase-products{
        font-size: 20px !important;
    }
    
}