@include responsive ("small") {
    .product {
        .container {
            padding: 0;
        }
    }
}
.product_detail_container {
    background-color: #fff;
}

article.productView-description {
    background-color: #fff;
    display: block;
    clear: both;
    float: left;
    padding: 50px 0;
}
.product_detail {
    .productView {
        padding-top: 1.5rem;
        @include responsive ("small") {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
    }
    .productView-details-top {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid #ECECED;
        border-bottom: none;
        padding: 30px 20px 0 20px !important;
        order: 2;
    }
    .productView-details-bottom {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #ECECED;
        border-top: none;
        padding: 0 20px 0 20px !important;
        order: 3;
    }
    .productView-details {
        background: #ffffff;
        margin-bottom: 0;
        padding: 0 20px;
        @include responsive ("small") {
            padding-left: 40px !important;
            padding-right: 40px !important;
        }
        .productView-brand {
            margin-bottom: 10px;
            span {
                margin-top: 30px;
                color: #757575;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
            }
            .stock_status {
                float: right;
                color: #01A44C;
                font-family: "Helvetica Neue";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                letter-spacing: 0.08px;
                text-transform: capitalize;
                margin-top: 9px;
                @include responsive ("small") {
                    margin-top: 4px;
                }
            }
        }
        .productView-title {
            margin-top: 0;
            margin-bottom: 14px;
        }
        .short_description {
            color: #757575;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 15px;
        }
        .productView-rating {
            margin-bottom: 25px;
        }
        .productView-price {
            margin-bottom: 14px;
            color: #48A9C5;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            @include responsive("small") {
                margin-bottom: 0;
            }
            .price--non-sale {
                color: #183D6A;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 15px; 
                text-decoration-line: strikethrough;
            }
            .price-now-label {
                display: none;
            }
            .add-to-cart-wrapper {
                .button--icon svg {
                    width: 15.653px !important;
                    height: 15.181px !important;
                }
            }
        }
        #add-to-cart-wrapper {
            .button--icon {
                border-color: #ECECED !important;
            }
            .form-input--incrementTotal {
                border: 1px solid #ECECED !important;
                height: 2.9rem;
            }
            .button--icon svg {
                height: 15px;
                width: 15px;
                margin-top: 9px;
            }
            .form-field--increments {
                float: left;
                width: 30%;
                @include responsive("small") {
                    float: unset;
                    width: 100%;
                }
            }
            .form-action {
                float: right !important;
                width: 70% !important;
                margin-top: -20px !important;
                @include responsive("small") {
                    float: unset;
                    width: 100% !important;
                }
                svg {
                    position: relative;
                    text-align: center;
                    top: 37px;
                    z-index: 9999999;
                    right: -142px;
                    @include responsive("small") {
                        top: 35px;
                        right: 60px;
                    }
                }  
            }
            #form-action-addToCart {
                border-radius: 0;
                width: 100%;
                padding: 14px 0px 14px 0px;
                @include responsive("small") {
                    border-radius: 5px;
                }
            }
            .form-increment .button, .form-input--incrementTotal {
                height: 47px;
                width: 55px;
                @include responsive("small") {
                    width: 108px;
                }
            }   
        }
        .share_wishlist_section {
            .wishlist {
                float: left;
                width: 28%;
                @include responsive("small") {
                    width: 50%;
                }
                .form-wishlist {
                    a {
                        text-align: left !important;
                        padding-left: 0 !important;
                        margin-bottom: 0;
                        font-weight: 700;
                    }
                    [aria-controls = "wishlist-dropdown"] span {
                        font-size: 13px;
                        font-weight: 700;
                        line-height: normal;
                    }
                    .icon {
                        margin-top: 5px;
                    }
                    .dropdown-menu {
                        input, a {
                            padding: 15px 0;
                            text-align: center !important;
                        }
                    }
                    .wishlist_icon {
                        float: left;
                        margin-right: 8px;
                        margin-top: 5px;
                    }
                }
            }
            .share_section {
                float: right;
                width: 72%;
                margin-top: 11px;
                @include responsive("small") {
                    width: 50%;
                    margin-top: 10px;
                }
                a {
                    font-size: 13px;
                    color: #000000;
                    text-decoration: none;
                    cursor: pointer;
                    font-weight: 700;
                }
                .share_section_details {
                    display: none;
                }
            }
        }
        .above_delivery_section {
            border: 1px solid #ECECED;
            margin-bottom: 20px;
        }
        .bottom_delivery_section {
            border: 1px solid #ECECED;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .delivery_section {
            ul {
                list-style: none;
                margin-left: 0;
                li {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25.6px;
                }
            }
            svg {
                margin-right: 7px;
            }
        }
        .customer_support {
            ul {
                display: inline-flex;
                list-style: none;
                margin-left: 0;
            }
            .support_detail {
                margin-left: 1rem;
                .heading {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px; /* 187.5% */
                    text-transform: uppercase;
                }
                .subheading {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .phone {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px; /* 187.5% */
                    text-transform: uppercase;
                    color: #48A9C5;
                }
            }
        }
    }
    /*.productView-description {
        padding-left: 0;
        background: #ffffff;
        @include responsive("small") {
            padding-left: 20px;
            padding-right: 20px;
        }
        #accordion {
            h3 {
                padding: 24px 0;
                margin-top: 0;
            }
            .ui-accordion-header {
                border: none !important;
                border-bottom: 1px solid #d7d7d7 !important;
                background-color: #ffffff !important;
            }
            .showcase-products {
                border-left: none;
            }
            .tab-title {
                margin-bottom: 0 !important;
                padding-left: 0;
            }
            .ui-state-active {
                border-bottom: none !important;
                background: none;
                .showcase-products {
                    border-left: 6px solid #48A9C5;
                }
                .tab-title {
                    padding-left: 10px;
                }
            }
            .ui-accordion-content {
                border: none !important;
                border-bottom: 1px solid #d7d7d7 !important;
                background: #ffffff;
                padding-top: 0;
                padding-bottom: 0;
            }
            svg {
                width: 21px !important;
                height: 13px !important;
            }
        }
    } */
    .productView-images {
        order: 1;
        .productView-img-container {
            img {
                border-radius: 5px;
                border: 1px solid #ECECED;
            }
        }
        .productView-thumbnails {
            margin-top: 16px;
            margin-left: 3px;
            padding-left: 0;
            .productView-thumbnail {
                width: auto;
                margin-right: 12px;
            }
            .image:hover { 
                border: 1px solid #48A9C5;
            }
            img {
                width: 80px !important;
                height: 65px !important;
                padding-left: 0;
                border-radius: 3px;
                
            }
            a {
                width: 80px !important;
                height: 65px !important;
                background: #ffffff;
                padding: 0;
            }
        }
        .productView-thumbnail-link {
            border: 1px solid #ECECED;
        }
        .productView-thumbnail-link:hover {
            border: 1px solid #48A9C5 !important;
        }
        .productView-thumbnail-link.is-active {
            border-radius: 3px;
            border: 1px solid #48A9C5 !important;
        }
        .slick-next, .slick-prev {
            background-color: #f8f8f8 !important;
            border: none;
            top: 50px;
        }
    }
    .related-product-section {
        .tabs {
            text-align: left;
            .is-active {
                border-bottom: none;
                a {
                    font-size: 24px;
                    font-weight: 700;
                    letter-spacing: -0.24px;
                    text-transform: uppercase;
                    padding-left: 10px;
                    padding-top: 5px;
                    height: 35px;
                }
            }
            #tab-related {
                padding-top: 0;
            }
        }
        .productCarousel {
            margin-bottom: 0;
        }
    }

    
}

.description_tab_section {
    h3 {
        padding: 24px 24px 24px 0 !important;
        margin-top: 0 !important;
    }
    .ui-accordion-header {
        border: none !important;
        border-bottom: 1px solid #d7d7d7 !important;
        background-color: #ffffff !important;
    }
    .showcase-products {
        border-left: none;
    }
    .tab-title {
        margin-bottom: 0 !important;
        padding-left: 0;
    }
    .ui-state-active {
        border-bottom: none !important;
        background: none;
        .showcase-products {
            border-left: 6px solid #48A9C5;
        }
        .tab-title {
            padding-left: 10px;
        }
    }
    .ui-accordion-content {
        border: none !important;
        border-bottom: 1px solid #d7d7d7 !important;
        background: #ffffff;
        padding-top: 15px !important;
        padding-bottom: 0;
        font-size: 16px;
    }
    svg {
        width: 21px !important;
        height: 13px !important;
    }
    .related-product-section {
        .tab.is-active {
            border-bottom: none;
        }
        .tab {
            width: 100% !important;
            .tab-title {
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                text-transform: uppercase;
                border-left: 6px solid #48A9C5;
                padding: 2px 2px 2px 10px;
            }
            .shop-all-link {
                margin-top: -26px !important;
            }
        }
        .tabs-contents {
            margin-bottom: 0;
            .productCarousel {
                margin-bottom: 0;
            }
        }
    }
}