.product_detail {
    .productView {
        padding-top: 1.5rem;
    }
    .productView-details {
        background: #ffffff;
        margin-bottom: 0;
        padding: 0 20px;
        .productView-brand {
            margin-top: 30px;
            color: #757575;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
        }
        .productView-title {
            margin-top: 0;
            margin-bottom: 14px;
        }
        .productView-rating {
            margin-bottom: 14px;
        }
        .productView-price {
            margin-bottom: 14px;
            color: #48A9C5;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            .price--non-sale {
                color: #183D6A;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 15px; 
                text-decoration-line: strikethrough;
            }
            .price-now-label {
                display: none;
            }
            .add-to-cart-wrapper {
                .button--icon svg {
                    width: 15.653px !important;
                    height: 15.181px !important;
                }
            }
        }
        #add-to-cart-wrapper {
            .button--icon {
                border-color: #ECECED !important;
            }
            .form-input--incrementTotal {
                border: 1px solid #ECECED !important;
                height: 2.9rem;
            }
            .button--icon svg {
                height: 15px;
                width: 15px;
                margin-top: 9px;
            }
            .form-field--increments {
                float: left;
                width: 22%;
            }
            .form-action {
                float: right !important;
                width: 76% !important;
                margin-top: 0 !important;
            }
            #form-action-addToCart {
                border-radius: 0;
                width: 100%;
            }
            .form-increment .button {
                height: 42px;
            }   
        }
        .form-wishlist {
            width: 23%;
            a {
                text-align: left !important;
                padding-left: 0 !important;
            }
        }
        .delivery_section {
            ul {
                list-style: none;
                margin-left: 0;
                li {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25.6px;
                }
            }
            svg {
                margin-right: 7px;
            }
        }
        .customer_support {
            ul {
                display: inline-flex;
                list-style: none;
                margin-left: 0;
            }
            .support_detail {
                margin-left: 1rem;
                .heading {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px; /* 187.5% */
                    text-transform: uppercase;
                }
                .subheading {
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .phone {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px; /* 187.5% */
                    text-transform: uppercase;
                    color: #48A9C5;
                }
            }
        }
    }
    .productView-images {
        .productView-thumbnails {
            margin-top: 15px;
            .productView-thumbnail {
                width: 80px !important;
                height: 65px !important;
                margin-right: 10px;
            }
            img {
                padding-left: 0;
                border-radius: 3px;
                border: 1px solid #d7d7d7;
                width: 80px !important;
                height: 65px !important;
            }
            img:hover { 
                border: 1px solid #48A9C5;
            }
            a {
                width: 80px !important;
                height: 65px !important;
                padding: 0;
            }
        }
        .productView-thumbnail-link.is-active {
            border-radius: 3px;
            border: 1px solid #48A9C5;
            border-bottom: none !important;
        }
    }
}