<div class="accordion-nav-clear-holder">
    <button type="button"
         class="accordion-navigation toggleLink{{#unless start_collapsed}} is-open{{/unless}}"
         data-collapsible="#facetedSearch-content--{{dashcase facet}}"
         aria-label="{{lang 'search.faceted.toggleSection' title=title}}"
    >
        <span class="accordion-title">
            {{title}}
        </span>

        <span>
            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 7.40991L0 1.40991L1.41 -8.7738e-05L6 4.57991L10.59 -8.7738e-05L12 1.40991L6 7.40991Z" fill="#8B96A5"/>
            </svg>
                    
            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 0L0 6L1.41 7.41L6 2.83L10.59 7.41L12 6L6 0Z" fill="#8B96A5"/>
            </svg>
        </span>
    </button>
    {{#if selected}}
        <a href="{{remove_url}}" class="facetedSearch-clearLink" data-faceted-search-facet>{{lang 'search.faceted.clear'}}</a>
    {{/if}}
</div>
