<div id="add-to-cart-wrapper" class="add-to-cart-wrapper" {{#unless product.can_purchase}}style="display: none"{{/unless}}>
    {{#if theme_settings.show_product_quantity_box}}
        {{inject 'productQuantityErrorMessage'  (lang 'products.quantity_error_message')}}
        <div class="form-field form-field--increments">
            {{!-- <label class="form-label form-label--alternate"
                   for="qty[]">{{lang 'products.quantity'}}</label> --}}
                <div class="form-increment" data-quantity-change>
                    <button class="button button--icon" data-action="dec">
                        <span class="is-srOnly">{{lang 'products.quantity_decrease' name=product.title}}</span>
                        <i class="icon" aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                                <g clip-path="url(#clip0_94_112)">
                                  <path d="M3.91406 6.92188H13.0448" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                  <clipPath id="clip0_94_112">
                                    <rect width="15.6528" height="15.1807" fill="white" transform="translate(0.652344 0.3479)"/>
                                  </clipPath>
                                </defs>
                            </svg>
                        </i>
                    </button>
                    <input class="form-input form-input--incrementTotal"
                           id="qty[]"
                           name="qty[]"
                           type="tel"
                           value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
                           data-quantity-min="{{product.min_purchase_quantity}}"
                           data-quantity-max="{{product.max_purchase_quantity}}"
                           min="1"
                           pattern="[0-9]*"
                           aria-live="polite">
                    <button class="button button--icon" data-action="inc">
                        <span class="is-srOnly">{{lang 'products.quantity_increase' name=product.title}}</span>
                        <i class="icon" aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 17 16" fill="none">
                                <g clip-path="url(#clip0_94_115)">
                                  <path d="M8.46094 2.67969V11.1583" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M3.89453 6.92188H13.0253" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                  <clipPath id="clip0_94_115">
                                    <rect width="15.6528" height="15.1807" fill="white" transform="translate(0.632812 0.3479)"/>
                                  </clipPath>
                                </defs>
                            </svg>
                        </i>
                    </button>
                </div>
        </div>
    {{/if}}

    <div class="alertBox productAttributes-message" style="display:none">
        <div class="alertBox-column alertBox-icon">
            <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
        </div>
        <p class="alertBox-column alertBox-message"></p>
    </div>
    {{#or customer (unless settings.hide_price_from_guests)}}
        <div class="form-action">
            <input
                    id="form-action-addToCart"
                    data-wait-message="{{lang 'products.adding_to_cart'}}"
                    class="button button--primary"
                    type="submit"
                    value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}"
            >
            <span class="product-status-message aria-description--hidden">{{lang 'products.adding_to_cart'}} {{lang 'category.add_cart_announcement'}}</span>
        </div>
    {{/or}}
</div>
